@import "../../common";

.navigation {
    max-width: $content-max-width;
    min-width: $content-min-width;
    box-sizing: border-box;
    padding: 10px 0;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: auto;

    &-item {
        position: relative;
        display: inline-block;
        padding: 5px 15px;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1rem;
        font-style: italic;
        font-weight: bold;
        color: $color-dark;
        white-space: nowrap;
        &:after {
            content: '/';
            position: absolute;
            font-size: 1.4rem;
            font-weight: 300;
            top: 2px;
            right: -4px;
            color: lighten($color-dark, 50%);
        }
        &:last-child:after {
            content: '';
        }
    }
}
