@import "common";

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 1rem;
}

.app {
	width: 100%;
	margin: auto;

	.title {
		color: rgba($color-dark, 1);
		font-weight: 300;
		font-style: italic;
		span {
			text-transform: capitalize;
		}
	}

}

.s-main {
	@include container;
}
